<video autoplay id="bg-video" muted plays-inline preload="auto" >
    <source src="/images/videos/bg-video.mp4" type="video/mp4">
</video>

<div class="container-home">
    <img id="banner" src="/images/logos/overwatch.png">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="home-title">
            <h1><span style="color: #f99e1a">FANTASY</span> LEAGUE</h1>
            <p class="jumbotron-text">Draft.</p>
            <p class="jumbotron-text">Watch. </p>
            <p class="jumbotron-text">Compete. </p>
            <br>
        <a class="btn btn-primary btn-lg home-play-button" href="/signup" >Play </a>
        </div>
    </div>
</div>


<script src="/js/home.js">
</script>