<html class="bg-wrapper live-bg">
<div class="container-live">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3>LIVE</h3>
            </div>
            <div class="panel-body">
                <div class="twitch-container">
                    <div id="twitch-embed">
                        <div id="live-resize-highlighter" hidden>
                        </div>
                    </div>
                </div>
                <h2 id="live-resize-info-text" hidden>Window is resizable</h2>
                <h2 id="live-mobile-info-text" hidden>On Mobile, tap to "pause" and then "play" again</h2>
                <div id="live-feed" >
                    <div>
                        <h3 class="live-feed-header">Live Feed</h3>
                    </div>
                    <div id="live-feed-body">
                        <ul class="list-group" id="live-feed-display">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script src="/js/live.js"></script>

</html>