<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<html class="bg-wrapper live-bg">
<div class="container-live">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3>LIVE</h3>
            </div>
            <div class="panel-body">
                <div class="video-container">
                </div>
                <div class="checkbox">
                    <span id="live-video-toggle-label">Video</span>
                    <label>
                        <input id="live-video-toggle-button" checked type="checkbox" data-toggle="toggle">
                    </label>
                </div>
                <div id="live-feed">
                    <div>
                        {{#if loggedIn}}
                        <h2>Live Stats</h2>
                        {{else}}
                        <h2>Log In To See Your Live Point Gains</h2>
                        {{/if}}
                    </div>
                    <div id="live-feed-body">
                        <ul class="list-group" id="live-feed-display">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script src="/js/live.js"></script>

</html>