<html class="bg-wrapper tutorial-bg">
<div class="container-dashboard">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="panel panel-default panel-transparent">
            <div class="panel-heading">
                <h3>How TO play </h3>
            </div>
            <div class="panel-body">
                <h2>Step 1: draft your roster </h2>
                <img class="tutorial-image" src="/images/tutorial/click.png">
                <p class="news-text">Picks will be locked on every Tuesday at midnight.  </p>

                
                <h2>Step 2: Spectate your players' performance </h2>
                <p class="news-text">Scores will primarily be based on the number of kills for each hero.  </p>
                <p class="news-text">For every set of kills a player scores with a hero, it will be measured against the hero's kill on average on that specific map.  </p>
                <p class="news-text">For example, a Mercy Player is likely to yield much more points for a kill, as opposed to a Tracer Player who usually gets a lot of kills in a game.   </p>
                
                <h2>Step 3: Get bonuses, achievements, and place on the leaderboard </h2>
                <p class="news-text">There are achievements and bonuses, stay tuned for more!  </p>
                <p class="news-text">For example, an achievement will be awarded for a player able to yield 30 kills in a match. </p>
               </div>
        </div>
    </div>
</div>

</html>